<nav class="navbar  fixed-top p-2">
    <div class="container-fluid row ">
        <div class="col justify-content-between align-items-center">
            <h2 class=" text-white mt-2">
                <i class="bi bi-shield-fill-check"></i> TrueShield
            </h2>
        </div>
      <form class="d-flex col-md-4 " role="search">
        <input class="form-control me-2 search-input border-0 p-4" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-search" type="submit">Search</button>
      </form>
    </div>
</nav>
<div class="row search ">
    <div class="col-md-3 position-fixed">
        <div class="row g-3 p-3">
            <div class="col-md-4 w-100  p-3 trends rounded-4">
                <h3 class="d-flex justify-content-between align-items-center mb-3">
                    <span class=""><i class="bi bi-info-circle"></i> Fonts</span>
                </h3>
                <div class="row text-center p-1">
                    <div class="col-md-4 ">
                        <h1 class="filter filter-rss">
                            <i class="bi bi-rss-fill"></i>
                        </h1>
                    </div>
                    <div class="col-md-4 ">
                        <h1 class="filter filter-x">
                            <i class="bi bi-twitter-x"></i>  
                        </h1>
                    </div>
                    <div class="col-md-4 ">
                        <h1 class="filter filter-reddit">
                            <i class="bi bi-reddit"></i>
                        </h1>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4 w-100  p-3 trends rounded-4">
                <h3 class="d-flex text-center mb-3 ">
                    <span class=""><i class="bi bi-bookmarks"></i> Categories</span>
                </h3>
                <div class="row g-2">
                    <div class="col category p-2 text-center mn-2">Política</div>
                    <div class="col category p-2 text-center mn-2">Deporte</div>
                    <div class="col category p-2 text-center mn-2">Cultura</div>
                    <div class="col category p-2 text-center mn-2">Tecnología</div>
                    <div class="col category p-2 text-center mn-2">Economía</div>
                    <div class="col category p-2 text-center mn-2">Internacional</div>
                    <div class="col category p-2 text-center mn-2">Salud</div>
                    <div class="col category p-2 text-center mn-2">Entretenimiento</div>
                </div>
                 
            </div>
            <div class="col-md-4 w-100  p-3 trends rounded-4">
                <h3 class="d-flex justify-content-between align-items-center mb-3">
                    <span class=""><i class="bi bi-calendar4-range"></i> Time range</span>
                </h3>
                <div class="row g-1">
                    <h5 class="px-4 mt-2">Date start</h5>
                    <input type="date" name="date-start" class="input-time-range col-md-12 p-2 bl-5">
                    <h5 class="px-4 mt-2">Date end</h5>
                    <input type="date" name="date-end" class="input-time-range col-md-12 p-2 bl-5">
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-5 p-2 offset-md-3">
        <div class="row">
            <div class="col mb-3 p-3 ">
                <textarea 
                [(ngModel)]="textInputNew" name="text-input"
                class="form-control input-new text-white mb-3" rows="2" placeholder="Valida una noticia"></textarea>
                <button 
                    *ngIf="textInputNew.length>0"
                    (click)="validateNews()"
                    type="button" class="btn btn-send-input">Vlidar
                </button>
            
            </div>
            <app-item-new
            *ngFor="let item of allItems"
            [itemNew]="item"
            />
        </div>
    </div>
    <div class="col-md-4 position-fixed" style="right:0;">
        <div class="row g-3 p-3">
            <div class="col-md-4 w-100  p-3 trends rounded-4">
                <h3 class="d-flex text-center mb-3 ">
                    <span class=""><i class="bi bi-twitter-x"></i>  <i class="bi bi-reddit"></i> Trends</span>
                </h3>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Karen</h4>
                        <p>Trending in Colombia / 28.8K posts</p>
                    </div>
                    <div class="col-md-12">
                        <h4>Caracol</h4>
                        <p>Trending in Colombia / 28.8K posts</p>
                    </div>
                    <div class="col-md-12">
                        <h4>#DesafioXX</h4>
                        <p>Only on X · Trending / 28.8K posts</p>
                    </div>
                </div>   
            </div>
            <div class="col-md-4 w-100  p-3 trends rounded-4">
                <h3 class=" d-flex justify-content-between align-items-center mb-3">
                    <span class=""><i class="bi bi-rss-fill"></i> Sources</span>
                </h3>
                <div class="row">
                    <div class="col-md-12  row">
                        <div class="col-md-2  ">
                            <img class="media-favicon" src="https://www.eltiempo.com/favicon.ico" alt="" srcset="">
                        </div> 
                        <div class="col-md-10  ">
                            <h4>El tiempo</h4>
                            <p>eltiempo.com</p>
                        </div>
                        
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-2">
                            <img class="media-favicon" src="https://www.eltiempo.com/favicon.ico" alt="" srcset="">
                        </div>
                        <div class="col-md-10">
                            <h4>El Espectador</h4>
                            <p>elespectador.com</p>
                        </div>
                        
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-2">
                            <img class="media-favicon" src="https://www.bbc.com/favicon.ico" alt="" srcset="">
                        </div>
                        <div class="col-md-10">
                            <h4>BBC</h4>
                            <p>BBCNews.com</p>
                        </div>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
</div>

