
.hero{
    border: 3px solid var(--primary-green);
}
p{
    color:#9a9fa2;
}

.row.search{
    color: beige;
    background-color: black;
    /*height: 100vh;  100% de la altura de la ventana */
    /*overflow: auto;*/
    margin-top: 70px;
}

.input-new{
    background-color: black;
    font-size: 25px;
    border-radius: 0%;
    border-top: 0px ;
    border-left: 0px ;
    border-right: 0px;
    border-bottom: 2px solid var(--primary-green) ;
}
.input-new:hover{
    border-bottom: 4px solid var(--primary-green) ;
}

.input-new::placeholder{
    color: #868585;
    font-size: 40px;
}

.btn-send-input{
    background-color: var(--primary-green);
    color: beige;
    width: 100px;
    border-radius: 40px;
}

.trends{
    border:2px solid #14171A;
}

.media-favicon{
    height: 80%;
    width: 80%;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8); /* Negro con 80% de opacidad */
    border-bottom: 2px solid #14171A;
}

.search-input {
    background-color:#14171A ;
    color: #c7c5c5;
    height: 50px;
    border-radius: 40px;
    font-size: 20px;
}
.search-input::placeholder{
    color: #868585;
}

.btn-search{
    color: beige;
    width: 100px;
    border-radius: 40px;
    background-color: var(--secondary-green);
}
.btn-search:hover{
    background-color: var(--primary-green);
}

.category{
    border:3px solid #14171A;
    border-radius: 10px;
}
.category:hover{
    background-color: var(--secondary-green);
}

/* botones de filtro*/
.filter:active{
    color: #868585;
}

.input-time-range{
    background-color: #14171A;
    color: beige;
    border: 0px;
    font-size: 20px;
    border-radius: 40px;
}