
/* estilos de imput de validacion*/
.section-box{
    margin-top: 70px;
}
.box-config {
    border-radius: 100% 0 0 100%; 
    position: relative; /* Establece el contenedor relativo */
}
 .box-send{
    border-radius: 0 100% 100% 0; 
}

.box-config, .box-input, .box-send{
    background-color: rgb(15, 14, 14);
    border-bottom: 2px solid var(--primary-green) ;
} 



/* ubicacion de los iconos*/
 .box-config, .box-send{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-new{
    background-color: rgb(15, 14, 14);
    font-size: 25px;
    border: none; /* Elimina todo tipo de borde */
    border-radius: 0; /* Asegúrate de que no haya bordes redondeados */
    width: 100%;
}
.input-new::placeholder{
    color: #868585;
    font-size: 25px;
    padding-top: 10px;
}

textarea{
    outline: none; /* Elimina el borde predeterminado de enfoque */
    max-height: 64px;
}
/* Elimina el efecto de enfoque */
textarea:focus {
    outline: none; /* Asegura que no haya un borde extra al enfocar */
    box-shadow: none; /* Elimina cualquier sombra de enfoque */
}

.bi-sliders{
 font-size: 28px;
 color: #868585;
 font-weight: bolder;
 cursor: pointer;   
}
.bi-sliders:hover{
    color: #11ca3c;
}

/* Estilos iniciales del ícono */
.bi-send {
    transition: color 0.3s ease, transform 1s ease; /* Transición suave para color y rotación */
    color: #868585; /* Color predeterminado */
}

/* Estilos cuando la clase send_active está presente */
.send_active {
    color: #16c43f; /* Cambia el color al activarse */
    transform: rotate(360deg); /* Gira el icono 360 grados */
    cursor: pointer;
    font-size: 40px;
}

/* Estilo personalizado para el menú de configuraciones */
.config-menu {
    position: absolute;
    top: -315px; /* Ajusta la posición para que esté sobre el icono */
    left: 0;
    border:2px solid #686666;
    background-color: #000000;
    color: white;
    border-radius: 15px;
    padding: 10px;
    z-index: 10;
    display: none; /* Oculto por defecto */
    height: 320px;
    width: 300px;
}

/* Mostrar el menú de configuración cuando la clase show esté activa */
.config-menu.show {
    display: block;
}

/* selector de tipo de item por factor */
.selector-factor{
    width: 70%;
}
.item-selector-factor:hover, .item-selector-factor-active {
    border-bottom: 2px solid #16c43f; 
}
.bor{
    border: 2px solid #686666;
}

/* Personaliza el fondo y el borde del track */
.form-range {
    --form-range-track-bg: #292727; /* Color de fondo del track */
    --form-range-track-border-radius: 0.5rem; /* Radio de borde del track */
}

/* Personaliza el color del thumb */
.form-range::-webkit-slider-thumb {
    width: 0.8rem; /* Tamaño del thumb */
    height: 0.8rem; /* Tamaño del thumb */
    background-color: #04ba0a; /* Color de fondo del thumb */
    border: 2px solid #21a70c; /* Borde del thumb */
    border-radius: 50%; /* Borde redondeado del thumb */
    cursor: pointer; /* Cursor del thumb */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); /* Sombra del thumb */
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; /* Transición */
}

/* Personaliza el color del thumb para el foco */
.form-range::-webkit-slider-thumb:focus {
    background-color: #29bb12; /* Color de fondo del thumb al enfocar */
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1); /* Sombra del thumb al enfocar */
}

/* Personaliza el color del track */
.form-range::-webkit-slider-runnable-track {
    background-color: var(--form-range-track-bg); /* Color de fondo del track */
    height: var(--form-range-track-height); /* Altura del track */
    border-radius: var(--form-range-track-border-radius); /* Radio de borde del track */
}


