




@defer{

  <header class=" py-3 nav-container fixed-top ">
    <div class="float-end me-3 mt-2">
      <button 
        type="button" class=" me-3 btn-first p-2" data-bs-toggle="modal" data-bs-target="#formUser">
        Sign-In 
      </button>
    </div>
  </header>

  <div class="modal fade" id="formUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-auth-user/>
  </div>

  <section class=" text-center w-100 h-100 " >
  
    <video muted autoplay loop [src]="currentVideoUrl" ></video>
  
    <div class="capa">
      <div class="contend-hero px-4 py-5 w-100 h-100 d-flex flex-column align-items-center  justify-content-center  ">
        <h1 class="display-1 fw-bold text-white pt-3">
          <i class="bi bi-shield-fill-check"></i> TrueShield
        </h1>
          <textarea 
          [(ngModel)]="textInputNew"
          class="form-control input-new text-white mt-3"
          [placeholder]="placeholderText"
          (input)="stopTutorial()"
          ></textarea>
          <h3
          *ngIf="textInputNew.length>0"
          class="caract-ref m-2" 
          >Minimum number of characters is 60 you have 
          <span [ngClass]="{'green-text': textInputNew.length >= 60}"
          >{{textInputNew.length}}
          </span>
          </h3>
          <h3
          *ngIf="currentPhraseIndex==4"
          class="caract-ref m-2"
          >Minimum number of characters is 60 you have 
          <span [ngClass]="{'green-text': placeholderText.length >= 60}"
          >{{placeholderText.length}}
          </span>
          </h3>
          <div class=" mt-2 d-flex " *ngIf="textInputNew.length>20 || currentPhraseIndex==4">
            <button 
              (click)="validateNews()"
              type="button" class="btn btn-send-input me-2 "
              [ngClass]="{'valid-active': placeholderText.length >= 60}">
              Validate 
            </button>
            <button 
              (click)="validateNews()"
              type="button" class="btn btn-search-input ">Search
            </button>
          </div>
          
        </div>
    </div>
        
  </section>

  <section class="w-100 h-100 d-flex flex-column align-items-center  justify-content-center nn-section ">

    <h1 class="display-1 fw-bold text-black pt-3 text-center ">
      <i class="bi bi-shield-fill-check"></i>TrueShield
    </h1>
  </section>

}
@placeholder (minimum 1s) {
  <div class="ld w-100 h-100  d-flex flex-column align-items-center justify-content-center ">
    <div class="load  p-3 d-flex flex-column align-items-center justify-content-center">
      <i class="bi bi-shield-fill-check display-1 logo-l"></i> 
    </div>
  </div>
}




