<div class="initial-valid p-2 ">
    <h1><i class="bi bi-shield-check"></i></h1>
    <h1>Example of news to validate </h1>
    <div class="row gap-3 mt-3 view">
        <div class="col ">
            <p class="example-new  p-3">
                Avances en la Inteligencia Artificial Revolucionan la Medicina Moderna
                Científicos desarrollan un nuevo algoritmo que mejora significativamente el diagnóstico temprano de enfermedades crónicas.
            </p>
        </div>
        <div class="col ">
            <p class="example-new p-3 view">
                Histórico Acuerdo Climático Logrado en la Cumbre Mundial
                Líderes globales se comprometen a reducir las emisiones de carbono en un 50% para 2030.
            </p>
        </div>
        <div class="col ">
            <p class="example-new p-3 view">
                Descubrimiento Arqueológico Sorprende a los Expertos en Egipto
                Se revela una nueva tumba faraónica con tesoros intactos que datan de más de 3,000 años.
            </p>
        </div>
    </div>

    <app-send-valid/>
    
</div>