

@defer{
    <header class=" py-3 nav-container fixed-top ">
        <div class="float-start mt-2">
            <h3 class=" menu-actions p-3" data-bs-toggle="offcanvas" href="#TrueMenu" role="button" aria-controls="offcanvasExample">
                <i class="bi bi-menu-button-wide"></i>
            </h3>
            
        </div>
        <div class="float-end mt-2">
            <h3
            class="user-menu p-3" type="button" data-bs-toggle="collapse" data-bs-target="#user-menu" aria-expanded="false" aria-controls="user-menu"
            ><i class="bi bi-person-circle "></i> {{user.first_name}} {{user.last_name}}
            </h3>
            
            <div class="collapse" id="user-menu">
                <div class="card card-body">
                  <h3 class="mt-2 p-2 op-user-menu "> <i class="bi bi-person-fill me-4"></i> Acount</h3>
                  <h3 class="mt-2 p-2 op-user-menu "> <i class="bi bi-gear-fill me-4"></i> Settings</h3>
                  <hr class="mt-2 ">
                  <h3 
                  (click)="logout()"
                  class="logout p-2 mt-1"> Logout</h3>
                </div>
            </div> 
        </div>

        <app-menu-actions/>

    </header>

    <section class=" w-90 h-100 d-flex justify-content-center ">
        
        <router-outlet></router-outlet>
        
    </section>
  }
  @placeholder (minimum 1s) {
    <div class="ld w-100 h-100  d-flex flex-column align-items-center justify-content-center ">
      <div class="load  p-3 d-flex flex-column align-items-center justify-content-center">
        <i class="bi bi-shield-fill-check display-1 logo-l"></i> 
      </div>
    </div>
  }
  